.one h2{
    margin-left: 30%;
    
}
.one{
    background-color: azure;
    margin-top: 10%;
    max-width: 500px;
    padding: 10px;
    margin-left: 20%;
   border-width: 5px;
    border-color: black;
    border-radius: 5px;
}


.two{
    display: block;
    padding: auto;
    margin-left:15%;
}
.three{
    padding: 15px;
}
.four{
    padding: 15px;
}
.five{
    padding: 15px;
   
    margin-left:45%;
}
.six{
    
    
     margin-left:15%;
    
}
.seven{
    
   
    margin-left:15%;

}