

.addproduct .addproductform{
    text-align: center;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    border-radius: 5px;
    color: black;

}
.addproduct{
    // background-color:whitesmoke;
    background-color:whitesmoke ;
    max-width: 400px;
    padding: 60px 60px 60px 60px ;
}

.update{
   margin-left: 120px;
}