// .addproduct .addproductform{
//     text-align: center;
// }

.addproduct .addproductform{
    text-align: center;
    padding-bottom: 10px;
    height: 70px;
    padding-top: 10px;
    border-radius: 5px;
    color: black;

}
.addproduct{
    // background-color:whitesmoke;
    background-color:whitesmoke ;
    max-width: 400px;
    padding: 30px 30px 30px 30px ;
}