<div>
    <h2>List of all Products</h2>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
            <tbody>
            <tr  *ngFor = "let item of productList" >
                <th><img src="{{item.image}}"></th>
                <th>{{item.name}}</th>
                <th>{{item.price}}</th>
                <th>{{item.category}}</th>
                <th>{{item.description}}</th>
                <th><button (click)="deleteproduct(item.id)">Delete</button>
                <button class="adjustupdate"><a [routerLink]="['/app-sellerupdateproduct/',item.id]">Update</a></button></th>
            </tr> 
            </tbody>
    </table>
</div>
