.one h2{
    margin-left: 30%;
   
}
.one{
    background-color: azure;
    max-width: 500px;
    
    padding: 10px;
    margin-left: 20%;
   border-width: 5px;
    border-color: black;
    border-radius: 5px;
    margin-top: 10%;
}
.three{
    padding: 15px;
    margin-left:15%;
}
.four{
    padding: 15px;
    margin-left:15%;
}
.five{
    padding: 15px;
    align-items: center;
    margin-left:15%;
    
}
.five .basic{
    padding: 10px;
   margin-left: 0%;
   text-align: left;
   color: darkred;
   cursor: pointer;
 }


.eight{
    padding: 15px;
    margin-left:15%;
}
.nine{
    padding: 15px;
    margin-left:15%;
}
.six{
    margin-left:15%;
    
}
.ten{
   margin-left:25%;
   color: purple;
   margin-top: 5%;
}

